:root {
  --custom-primary: #6f5bf5;
  --custom-secondary: #6f5af6;
  --bg-shaded-violet: #eccbf5;
}

.custom-primary-text {
  color: var(--custom-primary);
}
.custom-secondary-text {
  color: var(--custom-secondary);
}
.custom-primary-bg {
  background-color: var(--custom-primary);
}
.custom-secondary-bg {
  background-color: var(--custom-secondary);
}
.bg-shaded-violet {
  background-color: var(--bg-shaded-violet);
}

/* hero section */
#hero {
  height: max-content;
  background-color: var(--bg-shaded-violet);
}

.custom-cta {
  border: black 3px solid;
  border-radius: 15px;
  background-color: white;
  color: black;
}
.custom-cta:hover {
  border: black 3px solid;
  border-radius: 15px;
  background-color: white;
  color: black;
}

/* how you'll win */
.how-card > .card-image img {
  border: black 3px solid;
  border-radius: 15px;
  object-fit: cover;
  padding: 0;
  height: 180px;
  width: 100%;
}

/* watsale journey */
.side-title {
  border: black 3px solid;
  border-radius: 0 15px 15px 0;
  border-left: none;
  background-color: white;
}

/* everything you need */
.card-image img {
  width: 100%;
  height: 220px;
  border: black 3px solid;
  border-radius: 15px;
}

#everything .custom-cta {
  background-color: var(--bg-shaded-violet);
  bottom: -20px;
}

/* faq */
.custom-faq .question {
  border: black 3px solid;
  border-radius: 15px;
  background-color: var(--bg-shaded-violet);
  height: 300px;
}

.custom-faq .answer {
  border: black 3px solid;
  border-radius: 15px;
  background: white;
  margin-top: -100px;
  height: 300px;
}

#faq .custom-cta {
  background-color: var(--bg-shaded-violet);
}
